*{
    color: aqua;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

header`{
    display: flex;
    justify-content: space-between; 
}

@media (max-width: 780px)
{ header {
    background: white;
    width: 100%
}   
}

/* Media Queries são recursos que podemos utilizar para que os estilos mudem de acordo com o tamanho da tela */
