*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between; 
    background-color: #8338ec;
}

li{ 
    list-style:none;
    border:1px solid #be8c00;
    background-color: #ffbe0b;
    float:left; /* DEIXA A LISTA HORIZONTAL */
    font-size: 21px;
    text-decoration:none;
    padding: 5px 50px;
    display:block;    
}

body{
    background-color:#ffbe0b;
}



